@import "tailwindcss";

#main-section {
    background-image: url('../images/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: default !important;
};



body,html {
    overflow-x: hidden;
}

.custom-cursor {
    display: none;
}

.shape-triangle {
    height: 55%;
    clip-path: none !important;
}

.dottedList {
    list-style-type:disc;
    padding-left: 1.5rem;
}

@media (min-width: 1024px) {

    * {
        cursor: none !important;
    }

    .custom-cursor {
        position: fixed;
        width: 40px;
        height: 40px;
        pointer-events: none;
        z-index: 9999;
        display: block !important;

        filter: drop-shadow(2px 4px 4px rgba(0,0,0,.25));
    }   

    .shape-triangle {
        position: absolute;
        top: 0;
        left: 0;

        width: 100vw;
        height: 60vh;
        z-index: 1;
        background: black;

        clip-path: polygon(0 0, 100% 0, 0 100%) !important;
    }

}